* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
}

body {
    background: #000000;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    height: 100%;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    width: 120px;
    border-radius: 120px;
    border: 1px solid black;
    max-width: 100%;
}

#nome {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 16px;
    color: white;
}

#social {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin: 15px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.icons img {
    border: none;
    width: 60px;
    border-radius: 8px;
    transition: background-color 2s ease;
    padding: 5px;
    padding: 10px;
}

.icons img:hover {
    background-color: #ffffff86;
    transform: scale(0.8);
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.youtube {
    padding-bottom: 20px;
}

.youtube img {
    border-radius: 20px;
    width: 1000px;
    transition: 2s;
}

.youtube img:hover {
    opacity: 0.5;
    transform: scale3d(0.2);
}

.pai_instagram {
    margin-bottom: 3rem;
}

.instagram {
    border: 1px solid white;
    color: white;
    justify-content: center;
    display: flex;
    padding: 30px;
    border-radius: 50px;
    font-weight: bold;
    background-color: rgba(119, 119, 119, 0.466);
}

.instagram:hover {
    transition: 2s;
    background-color: #000000;
}

.spotify {
    border: 1px solid white;
    color: white;
    justify-content: center;
    display: flex;
    padding: 30px;
    border-radius: 50px;
    font-weight: bold;
    background-color: rgba(119, 119, 119, 0.466);
}

.spotify:hover{
    transition: 2s;
    background-color: #000000;
}

